# these are the useless folders that git doesnt need
.cache
.vs
.vscode
.vscode
*.dir

CMakeFiles/

out
bin
build
x64


# files that we dont want
*.vcxproj
*.filters
*.sln
*.user
*.in
*.cmake

cmake_install.cmake
CmakeCache.txt
